/* --------------- */
/* -----RESET----- */
/* --------------- */

* {
    font-family: 'Montserrat', sans-serif;
}

/* ----------------- */
/* -----GENERAL----- */
/* ----------------- */

/* ------- Background ------- */

.bg-dark-blue {background-color: #141922;}

.bg-gray {background-color: aqua;}

.bg-semitransparent {background-color: rgba(8, 11, 18, 0.7);}

/* ------ Color ------ */

.c-gray {color: #4d4d4d;}

/* ------ Dimension ------ */

.h-100px {height: 100px;}

.h-adapt {height: calc(100vh - 100px);}

.h-adapt200 {height: calc(100vh -200px);}

.w-250px {width: 250px;}

.maxw-800 {max-width: 800px;}

/* ------ Scroll ------ */

.scroll {overflow-y: scroll;}

/* ------ Border ------ */

.br-30px {border-radius: 30px;}

.bc-white {border-color: white;}

/* --------------- */
/* -----Aside----- */
/* --------------- */

aside img {
    display: block;
}

aside nav img:not(#logo_desktop) {height: 2rem;}

aside img:not(.logo, #user) {filter: opacity(0.5);}

#new_playlist i {
    padding: 0.5rem 0.60rem;
    color: black;
    background-color: #a3a3a3;
    font-size: 1.5rem;
}

#download img {height: 1rem;}

aside hr {border-color: #4d4d4d;}

#account img {
    height: 2rem;
    width: 2rem;
    background-color: #808080;
    border-radius: 50%;
}