/* --------------- */
/* -----RESET----- */
/* --------------- */

* {
    font-family: 'Montserrat', sans-serif;
}

/* ----------------- */
/* -----GENERAL----- */
/* ----------------- */

/* ------- Background ------- */

.bg-dark-blue {background-color: #141922;}

.bg-gray {background-color: aqua;}

.bg-semitransparent {background-color: rgba(8, 11, 18, 0.7);}

/* ------ Color ------ */

.c-gray {color: #606268;}

/* ------ Dimension ------ */

.h-100px {height: 100px;}

.h-adapt {height: calc(100vh - 100px);}

.h-adapt200 {height: calc(100vh -200px);}

.w-250px {width: 250px;}

.maxw-800 {max-width: 800px;}

.w-15per {width: 15.5%;}

/* ------ Scroll ------ */

.scroll {overflow-y: scroll;}

/* ------ Border ------ */

.br-30px {border-radius: 30px;}

.bc-white {border-color: white;}

/* --------------- */
/* -----Aside----- */
/* --------------- */

aside img {
    display: block;
}

aside nav img:not(#logo_desktop) {height: 2rem;}

aside img:not(.logo, #user) {filter: opacity(0.5);}

#new_playlist i {
    padding: 0.5rem 0.60rem;
    color: black;
    background-color: #a3a3a3;
    font-size: 1.5rem;
}

#download img {height: 1rem;}

aside hr {border-color: #4d4d4d;}

#account img {
    height: 2rem;
    width: 2rem;
    background-color: #808080;
    border-radius: 50%;
}

/* -------------- */
/* -----MAIN----- */
/* -------------- */

.cards {background-size: cover;}

/* Recently played */

#card1 {background-image: url(../img/all_out.jpeg);}

#card2 {background-image: url(../img/metal_lifting.jpg);}

#card3 {background-image: url(../img/stranger.jpeg);}

#card4 {background-image: url(../img/aquietplace.jpeg);}

#card5 {background-image: url(../img/split.jpeg);}

#card6 {background-image: url(../img/sinister.jpeg);}

/* Made for you */

#card7 {background-image: url(../img/radar.jpeg);}

#card8 {background-image: url(../img/mixdaily.jpeg);}

/* Artist */

#card9 {
    background-image: url(../img/youg.jpeg);
    border-radius: 50%;
}

#card10 {
    background-image: url(../img/einaudi.jpeg);
    border-radius: 50%;
}