/* ---------------- */
/* -----TABLET----- */
/* ---------------- */

@media screen and (min-width: 759px) and (max-width: 992px) {
    
    #recently-played > div{
        max-width: 800px;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    #recently-played > div >div{
        width: 22%;
        margin-right: 1vw;
    }

}